@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ole&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.textStyle01 {
  font: 60px "Oi", sans-serif;
  font-weight: normal;
  text-decoration: overline;
}

.textStyle02 {
  font: 16px sans-serif;
  font-weight: 700;
  text-decoration: wavy underline;
}

.textStyle03 {
  font: 28px "Piazzolla", serif;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
}

.textStyle04 {
  font: 69px "Ceviche One", serif;
}

.textStyle05 {
  font: 40px "Raleway Dots", serif;
  font-weight: 400;
  text-decoration: none;
}

.textStyle06 {
  font: 120px "Bungee Inline", serif;
}

.textStyle07 {
  font: 88px "Alice", serif;
  text-decoration: underline;
}

.textStyle08 {
  font: 100px "Unifraktur Maguntia", serif;
}

.textStyle09 {
  font: 36px "Londrina Outline", serif;
  font-weight: 200;
  text-decoration: overline;
}

.textStyle10 {
  font: 55px "Ole", serif;
}

.textColor01 {
  color: lime;
  background-color: blueviolet;
}

.textColor02 {
  color: crimson;
  background-color: lightcyan;
}

.textColor03 {
  color: darkorange;
  background-color: blue;
}

.textColor04 {
  color: deeppink;
  background-color: aqua;
}

.textColor05 {
  color: yellow;
  background-color: red;
}

.textColor06 {
  color: rgb(148, 0, 148);
  background-color: rgb(255, 255, 0);
}

.textColor07 {
  color: rgb(0, 0, 255);
  background-color: rgb(251, 100, 74);
}

.textColor08 {
  color: rgb(0, 111, 0);
  background-color: rgb(0, 255, 0);
}

.textColor09 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 0, 136);
}

.textColor10 {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
